<%- include("include/header"); -%>

<h1>Compose</h1>
<div class="form-group" >
<form class="" action="/compose" method="post">
    <label for="title">Title</label>
    <input class="form-control" type="text" name="postTitle" />
    <label for="text">Post</label>
    <textarea class="form-control" id="title" name="postBody" rows="5" cols="33"> </textarea>
</div>

<button class= "btn btn-primary" type="submit" name="button">Add something!</button>
</form>
<input type="text"><button type="button">Publish</button>